<a href="https://colab.research.google.com/github/Eswar-11/DWDM/blob/main/dwdm09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Develop a python code to generate frequent item setsusing Apriorialgorithmwith minimum
support is 3. Consider the following
transactions:(("a","b","c"),("a","b"),("a","b","d"),("b","e"),("b","c","e"),("a","d","e"),("
a","c"),("a","b","d"),("c","e"),("a","b","d","e"),("a",'b','e','c'))

In [9]:
import numpy as np
def cnt(data,key):
    c=0
    l=0
    k = list(key)
    for i in range(0,len(data)):
        for j in range(0,len(data[i])):
            if data[i][j] == k[l]:
                l=l+1
            elif data[i][j] != k[l]:
                l=0
            if (l+1)==len(key):
                c=c+1
                l=0
        l=0
    return c
key1 = ('a','b','c')#input()
key2 = ('c','d')#input()
print("Data: ")
data = [['a','b','c','d'],['b','c','d'],['b','c','d','e'],['a','b','c','d','e']]#(list)input()
print(data)
total1 = cnt(data,key1)
print(key1," --> ",total1)
total2 = cnt(data,key2)
print(key2," --> ",total2)

Data:
[['a', 'b', 'c', 'd'], ['b', 'c', 'd'], ['b', 'c', 'd', 'e'], ['a', 'b', 'c', 'd', 'e']]
('a', 'b', 'c')  -->  2
('c', 'd')  -->  4

In [10]:
def selfjoin(dt):
    ot = []
    for i in range(0,len(dt)):
        for j in range(i+1,len(dt)):
            a = set(dt[i])
            b = set(dt[j])
            if a&b :
                t=[]
                for k in range(0,len(dt[i])):
                    for l in range(0,len(dt[j])):
                        if (not(dt[i][k] in t))and(not(dt[j][l] in t)):
                            if(dt[i][k]==dt[j][l]):
                                t.append(dt[i][k])
                            else:
                                t.append(dt[i][k])
                                t.append(dt[j][l])
                ot.append(t)
    temp=[]
    for i in range(0,len(ot)):
        if len(ot[i])==(len(dt[0])+1)and(not(ot[i] in temp)):
            temp.append(ot[i])
    return temp

#data
dt = [['a','b'],['a','c'],['b','c'],['b','d'],['c','d'],['c','e'],['c','f']]
setlist = selfjoin(dt)
print(setlist)

[['a', 'b', 'c'], ['b', 'c', 'd'], ['c', 'd', 'e'], ['c', 'd', 'f'], ['c', 'e', 'f']]

In [11]:
a='a'
b='b'
c='c'
def nonemptysubsets(arr):
  x=[]
  for i in range(0, len(arr)):
    x.append(arr[i])
    if arr[i] in x:
      y=[]
      y.append(arr[i-1])
      y.append(arr[i])
      x.append(y)
    else:
      pass
  return x
nonemptysubsets([a,b,c])

['a', ['c', 'a'], 'b', ['a', 'b'], 'c', ['b', 'c']]

Develop a python code to provide association rules from the generated frequent item sets in exercise  1 with  minimum  confidence  of  80%.

In [12]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder
dataset = [["a","b","c"], ["a","b"], ["a","b","d"], ["b","e"],
["b","c","e"], ["a","d","e"], ["a","c"], ["a","b","d"],
["c","e"], ["a","b","d","e"], ["a","b","e","c"]]
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
print(df)
apriori(df, min_support=0.2, use_colnames=True)

        a      b      c      d      e
0    True   True   True  False  False
1    True   True  False  False  False
2    True   True  False   True  False
3   False   True  False  False   True
4   False   True   True  False   True
5    True  False  False   True   True
6    True  False   True  False  False
7    True   True  False   True  False
8   False  False   True  False   True
9    True   True  False   True   True
10   True   True   True  False   True

     support   itemsets
0   0.727273        (a)
1   0.727273        (b)
2   0.454545        (c)
3   0.363636        (d)
4   0.545455        (e)
5   0.545455     (a, b)
6   0.272727     (a, c)
7   0.363636     (d, a)
8   0.272727     (e, a)
9   0.272727     (b, c)
10  0.272727     (d, b)
11  0.363636     (e, b)
12  0.272727     (e, c)
13  0.272727  (d, a, b)