<a href="https://colab.research.google.com/github/Eswar-11/DWDM/blob/main/dwdm01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Calculate income tax for the given income by adhering to the below rules

Taxable Income Rate (%)

First 5,00,000 0

Second 7,50,000 10

Third 10,00,000 20

Remaining 30

In [3]:
a = int(input())
#sum = 1
if a<=500000:
    sum = 0
elif a>500000 & a<750000:
        sum = a*0.1
elif a>750000 & a<= 1000000:
        sum = a*0.2
else:
        sum = a*0.3
        print(sum)
#19BCN7003

1100000

2) Write a code to extract each digit from an integer, in the reverse order

Expected Output: For example, if the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [4]:
n = 26611
rev=0
number = []
while (n>0):
 a = n%10
 number.append(a)
 n=n//10
print(number)
#19BCN7003

[1, 1, 6, 6, 2]

3) Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration

list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

Expected output:

15

55

75

150

In [5]:
list= [12,15,32,42,55,75,122,132,150,180,200]
for i in list:
  if i>150: 
   break
  elif i%5 ==0:
   print(i)
   #19BCN7003

15
55
75
150

4) Create a function showEmployee() in such a way that it should accept employee name, and it’s salary and display both, and if the salary is missing in function call it should show it as 9000

Expected Output:

showEmployee("Ben", 9000)

showEmployee("Ben")

Should Produce:

Employee Ben salary is: 9000

Employee Ben salary is: 9000

In [6]:
def show_employee(name, salary=9000):
 print("Employee", name,"Salary is", salary)
show_employee("Ben", salary=12000)
show_employee("Ben")
#19BCN7003

Employee Ben Salary is 12000
Employee Ben Salary is 9000

5) Count all lower case, upper case, digits, and special symbols from a given string

Given:

str1 = "P@#yn26at^&i5ve"

Expected Outcome:

Total counts of chars, digits,and symbols

Chars = 8

Digits = 3

Symbol = 4

In [7]:
def count(str):
     char_count,digit_count,symbol_count = 0,0,0
     for char in str:
       if char.isalpha():
         char_count +=1
       elif char.isdigit():
         digit_count +=1
       else:
         symbol_count +=1
     print("Chars =", char_count, "Digits =", digit_count, "Symbols=", symbol_count)

str = "P@#yn26at^&i5ve"
print("Total counts of chars, digits, and symbols \n")
count(str) 
#19BCN7003

Total counts of chars, digits, and symbols

Chars = 8 Digits = 3 Symbols= 4

6) Given a string, return the sum and average of the digits that appear in the string, ignoring all other characters

Given:

str1 = "English = 78 Science = 83 Math = 68 History = 65"

Expected Outcome:

sum is 294

average is 73.5

In [8]:
str="English = 78 Science = 83 Math = 68 History = 65"
sum=0
count =0
for num in str.split():
 if num.isdigit():
  count +=1
  sum = sum + int(num)
print("sum is ",sum)
print("average is ", sum/count) 
#19BCN7003

sum is  294
average is  73.5

7) Given a two list. Create a third list by picking an odd-index element from the first list and even index elements from second.

For Example:

listOne = [3, 6, 9, 12, 15, 18, 21]

listTwo = [4, 8, 12, 16, 20, 24, 28]

Expected Output:

Element at odd-index positions from list one

[6, 12, 18]

Element at even-index positions from list two

[4, 12, 20, 28]

Printing Final third list

[6, 12, 18, 4, 12, 20, 28]

In [9]:
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
odd_i = []
even_i = []
for i in range(0, len(listTwo)):
    if i % 2:
       even_i.append(listTwo[i])
for i in range(0, len(listOne)):
    if i % 2 !=0:
       odd_i.append(listOne[i])
print("Element at odd-index positions from list one")
print(odd_i)
print("Element at even-index positions from list two")
print(even_i)
print("Printing Final third list")
print(odd_i + even_i) 
#19BCN7003

Element at odd-index positions from list one
[6, 12, 18]
Element at even-index positions from list two
[8, 16, 24]
Printing Final third list
[6, 12, 18, 8, 16, 24]

8) Given a two list of equal size create a set such that it shows the element from both lists in the pair

Expected Output:

First List [2, 3, 4, 5, 6, 7, 8]

Second List [4, 9, 16, 25, 36, 49, 64]

Result is {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [10]:
List1 =[2, 3, 4, 5, 6, 7, 8]
List2 = [4, 9, 16, 25, 36, 49, 64]
result = zip(List1, List2)
print(set(result))
#19BCN7003

{(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

9) Given a dictionary get all values from the dictionary and add it in a list but don’t add duplicates.

speed ={'jan':47, 'feb':52, 'march':47, 'April':44, 'May':52, 'June':53, 'july':54, 'Aug':44, 'Sept':54}

Expected Outcome: [47, 52, 44, 53, 54]

In [11]:
speed ={'jan':47, 'feb':52, 'march':47, 'April':44, 'May':52, 'June':53, 'july':54, 'Aug':44, 'Sept':54}
p=speed.values()
res = []
for i in p:
 if i not in res:
  res.append(i)
print(res) 
#19BCN7003

[47, 52, 44, 53, 54]

9) Remove duplicate from a list and create a tuple and find the minimum and maximum number.

For Example:

sampleList = [87, 45, 41, 65, 94, 41, 99, 94]

Expected Outcome:

unique items [87, 45, 41, 65, 99]

tuple (87, 45, 41, 65, 99)

min: 41

max: 99

In [12]:
sampleList = [87, 45, 41, 65, 94, 41, 99, 94]
res = []
sum=0
count=len(sampleList)
for i in sampleList:
 if i not in res:
  res.append(i)
sampleList=res
print("unique items ",sampleList )
print("tuple ",tuple(sampleList))
print("min: ",max(sampleList))
print("max: ",min(sampleList))
for i in sampleList:
 sum = sum +i
print("Average: ",sum/count)
#19BCN7003

unique items  [87, 45, 41, 65, 94, 99]
tuple  (87, 45, 41, 65, 94, 99)
min:  99
max:  41
Average:  53.875